## Data Preparation For 'location_modified.csv'

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pylab as pl
%matplotlib inline

In [2]:
customer = pd.read_csv("Data/olist_customers_dataset.csv", na_values=["?"])
geo = pd.read_csv("Data/olist_geolocation_dataset.csv", na_values=["?"])
item = pd.read_csv("Data/olist_order_items_dataset.csv",na_values=["?"])
payment = pd.read_csv("Data/olist_order_payments_dataset.csv",na_values=["?"])
review = pd.read_csv("Data/olist_order_reviews_dataset.csv",na_values=["?"])
order = pd.read_csv("Data/olist_orders_dataset.csv", na_values=["?"])
product = pd.read_csv("Data/olist_products_dataset.csv",na_values=["?"])
seller = pd.read_csv("Data/olist_sellers_dataset.csv",na_values=["?"])
eng = pd.read_csv("Data/product_category_name_translation.csv")

customer = pd.DataFrame(customer)
geo = pd.DataFrame(geo)
item = pd.DataFrame(item)
payment = pd.DataFrame(payment)
review = pd.DataFrame(review)
order = pd.DataFrame(order)
product = pd.DataFrame(product)
seller = pd.DataFrame(seller)
eng = pd.DataFrame(eng)

In [3]:
# Join tables of customer and order on customer_id
a = pd.merge(customer, order, on='customer_id')
a.shape

(99441, 12)

In [4]:
a.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10 00:00:00
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15 00:00:00

In [5]:
a.columns

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state', 'order_id', 'order_status',
       'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date'],
      dtype='object')

In [6]:
cols = ['customer_state','order_approved_at', 'order_delivered_carrier_date']
a.drop(cols, axis=1, inplace=True)
a.columns

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'order_id', 'order_status', 'order_purchase_timestamp',
       'order_delivered_customer_date', 'order_estimated_delivery_date'],
      dtype='object')

In [7]:
a.rename(columns={'customer_zip_code_prefix': 'zipcode',
                  'order_purchase_timestamp':'timestamp',
                  'order_delivered_customer_date':'delivered_date',
                  'order_estimated_delivery_date':'estimated_date'}, inplace=True)
a.columns

Index(['customer_id', 'customer_unique_id', 'zipcode', 'customer_city',
       'order_id', 'order_status', 'timestamp', 'delivered_date',
       'estimated_date'],
      dtype='object')

In [8]:
np.where(a.duplicated(subset=['customer_id']))

(array([], dtype=int64),)

In [9]:
geo.columns

Index(['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng',
       'geolocation_city', 'geolocation_state'],
      dtype='object')

In [10]:
geo.rename(columns={'geolocation_zip_code_prefix': 'zipcode',
                   'geolocation_lat': 'latitude',
                   'geolocation_lng':'longitude'}, inplace=True)

In [11]:
geo.columns

Index(['zipcode', 'latitude', 'longitude', 'geolocation_city',
       'geolocation_state'],
      dtype='object')

In [12]:
cols = ['geolocation_city','geolocation_state']
geo.drop(cols, axis=1, inplace=True)
geo.columns

Index(['zipcode', 'latitude', 'longitude'], dtype='object')

In [13]:
geo.shape

(1000163, 3)

In [14]:
a.shape

(99441, 9)

In [15]:
m = a.merge(geo, on='zipcode', how='left')
m.shape

(15083733, 11)

In [16]:
m = m.drop_duplicates(subset=['customer_id'])
m.shape

(99441, 11)

In [17]:
m.head()

,customer_id,customer_unique_id,zipcode,customer_city,order_id,order_status,timestamp,delivered_date,estimated_date,latitude,longitude
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-25 10:35:35,2017-06-05 00:00:00,-20.509897,-47.397866
147,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-29 12:41:19,2018-02-06 00:00:00,-23.726853,-46.545746
325,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-06-14 17:58:51,2018-06-13 00:00:00,-23.527788,-46.660310
428,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-28 16:04:25,2018-04-10 00:00:00,-23.496930,-46.185352
561,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-08-09 20:55:48,2018-08-15 00:00:00,-22.987222,-47.151073

### There are 278 locations that are no geographic data.

In [18]:
m[m.isnull().any(axis=1)]

,customer_id,customer_unique_id,zipcode,customer_city,order_id,order_status,timestamp,delivered_date,estimated_date,latitude,longitude
7931,f34a6e874087ec1f0e3dab9fdf659c5d,233896de79986082f1f479f1f85281cb,38300,ituiutaba,6e98de3a85c84ead6689189b825d35b5,canceled,2018-03-15 10:07:02,NaN,2018-04-09 00:00:00,-18.987712,-49.471572
8199,c132855c926907970dcf6f2bf0b33a24,a8ae36a2bb6c2bbc3b5d62ede131c9ef,18740,taquarituba,b5172d4a722c0ebb34c29bbbb7a3cb42,invoiced,2018-04-17 13:14:13,NaN,2018-05-24 00:00:00,-23.546936,-49.244245
12004,4c7241af24b5344cb01fe687643de4fe,b157c176c3fe04914fde33f2dc8b878a,60336,fortaleza,ad380680e87dea0f2abf5cd5bace626c,shipped,2018-01-21 15:54:02,NaN,2018-02-20 00:00:00,-3.716146,-38.576050
13639,f6529ffebe6b3440d45d89604a4239ac,e5dbefdfdf3eff75c8e6cd655f128279,26272,nova iguacu,cc07a8fdd3a8e94d683c8142a117dbc1,shipped,2018-01-11 17:11:11,NaN,2018-02-09 00:00:00,-22.758866,-43.505321
16395,ae76a4650235ab18764708174f1da31e,2b6082a140c439e2df870c85b0aa5e88,2983,sao paulo,4c33ec562d9dc5655e160913aa86eb53,shipped,2017-08-11 23:47:48,NaN,2017-09-11 00:00:00,-23.450381,-46.718337
...,...,...,...,...,...,...,...,...,...,...,...
15058843,ff09fd7b29e7488a8d8a20badcd8befe,8c21dd8c37144807c601f99f2a209dfb,72587,brasilia,157de1652c032429a625d034be79eeeb,delivered,2017-05-10 09:00:07,2017-05-22 16:47:57,2017-06-01 00:00:00,NaN,NaN
15060500,9ce70b8dafe76524f3d5e5e68cbf29f5,6edd9e4a22b7ab02db2a87f13bfd2d2a,14093,ribeirao preto,e5e59fe47003046e2ed48ebb641564b2,shipped,2018-04-27 13:52:12,NaN,2018-05-23 00:00:00,-21.188238,-47.755645
15061312,2a6fc1968c4a29c9c258bb1994afbc7f,205a1c797b2c6e626d560900a3ebde6b,27210,volta redonda,12d9fe1a3efa51a7fae337cba819adc1,shipped,2017-02-08 13:07:19,NaN,2017-03-17 00:00:00,-22.487452,-44.069375
15070919,f83083fcbc51d12f8279b5713c2d4b4d,0465f164e35aba70f70e911b252513a9,77807,araguaina,67384817c871ae183b24f9a0a6eb9bbc,shipped,2018-01-25 12:12:37,NaN,2018-03-01 00:00:00,-7.196803,-48.203388
15078320,35de8ab44ecc9a65225a5ef51294d204,3011394a1b8d1b04e425dd5dc77cbaaf,9616,sao bernardo do campo,27613f16c823ee73e2da1a6116467293,processing,2018-01-04 20:10:42,NaN,2018-01-30 00:00:00,-23.659570,-46.560935

### Drop NaN value in the table:

In [19]:
# drop the non-geographic location
m = m.dropna() 
m.shape

(96212, 11)

In [20]:
# wrong location(not in Brazil, Portugal)
out = m.loc[(m['latitude'] >= 35.0) & (m['longitude'] >= -10.0)] 
print(out.shape)
out

(6, 11)

,customer_id,customer_unique_id,zipcode,customer_city,order_id,order_status,timestamp,delivered_date,estimated_date,latitude,longitude
3722598,88aac7b0942dcdb41ebabf7811b106fc,2a4b1192846ec238d62df3838257bad9,68275,porto trombetas,4d5abe7999d76d1fb6237d3677706af0,delivered,2017-11-23 18:13:30,2017-12-19 08:58:58,2018-01-04 00:00:00,41.146203,-8.577855
5042650,85ffd918d7d043bc4aaec22621818908,67045ba793233569bed80ccf42e02070,83810,areia branca dos assis,a20a97869b7ddc65f69cb3373159648b,delivered,2017-11-25 16:24:40,2018-01-16 21:09:11,2017-12-21 00:00:00,39.057629,-9.400037
11164381,5baf545acc5f10945f5f2751d5d23ecd,ba1f863dca8e24fc845fda7e6b9e98d0,83810,areia branca dos assis,d8feff3b89294953930785a4bfc5e502,delivered,2017-11-24 23:43:32,2017-12-19 17:04:37,2017-12-20 00:00:00,39.057629,-9.400037
11702143,816fa7cf00e01aaf19c7ad215b049c9b,9e68775971541ca8a79b6fce848e7aee,68275,porto trombetas,acdbc7396e191931c263db11af241d62,delivered,2017-11-05 19:54:45,2017-12-04 21:04:22,2017-12-14 00:00:00,41.146203,-8.577855
12772419,948b29e24216a05fea13a18d8db45ea5,6740f8899f3c70b5b08b2e0bad37e567,83252,ilha dos valadares,8ad3f1d0f96992e43566c4c82c9f6c58,delivered,2018-07-17 21:25:29,2018-08-14 04:04:40,2018-08-03 00:00:00,42.184003,-8.723762
12796652,39660be50b511acaa1d93b9ecca96ff9,66596e08440320718dd23ea4d89ed37f,83810,areia branca dos assis,2292c00843a93f0cff36af4ad5791098,delivered,2018-07-31 17:19:49,2018-08-23 10:34:45,2018-08-20 00:00:00,39.057629,-9.400037

In [21]:
# wrong location(not in Brazil, Argentina)
out = m.loc[(m['latitude'] <= -27.0) & (m['longitude'] <= -58.0)] 
print(out.shape)
out

(12, 11)

,customer_id,customer_unique_id,zipcode,customer_city,order_id,order_status,timestamp,delivered_date,estimated_date,latitude,longitude
1530550,e436ed5e3618131594f326ad13dc6c10,23a886ebce4bc86212c72f669a9bdb31,98780,santa rosa,985bcbededbcdec4a04f505d68cc4117,delivered,2018-04-02 20:45:08,2018-04-17 16:56:38,2018-05-07 00:00:00,-36.605374,-64.283946
2467172,e029cab9b7ef3e78541646e7c261d67d,dc02867c21f42ed442f02e434234e3bb,98780,santa rosa,152c5ae80410664de684b6759b52076f,delivered,2018-03-11 19:09:18,2018-04-10 22:12:29,2018-04-25 00:00:00,-36.605374,-64.283946
2592743,7f32fbd449189b491a58a78eb5357b9f,507dc9becd4fc65635d90682dfa9d3a3,98780,santa rosa,6f429f70c82d9e5e7542ab3ddd773771,delivered,2017-11-24 13:30:59,2017-12-11 22:14:53,2017-12-20 00:00:00,-36.605374,-64.283946
4577840,8ac12be4103f6d1ad36d0c21efc8fd5f,fa58e11c149d7e903dbe5f6c854277e7,98780,santa rosa,785e849a702dab4672f0febcf4c1afc5,delivered,2018-04-15 19:32:36,2018-04-26 17:09:05,2018-05-23 00:00:00,-36.605374,-64.283946
5574809,86cbaec898050c91b8b8abb9c028e8b7,e32298294895b7f92d89754e744e930c,98780,santa rosa,9181dcfd06aa134cf10d0dc56abcf07a,delivered,2017-11-24 14:34:32,2017-12-12 21:04:38,2017-12-27 00:00:00,-36.605374,-64.283946
5979224,cdae1aa477b74c82203974ef56a06604,decf5e95920bb2dc3fe659c102dbbf70,28155,santa maria,9e5a1beaee5b0847c3254738fe668243,delivered,2018-02-09 11:03:02,2018-05-04 05:12:09,2018-03-09 00:00:00,-34.586422,-58.732101
6190521,ed37d81eaae6f96361a2eb0d6b000028,d32e5ab26ec56747954dab0844e8be2e,98780,santa rosa,18bbbbaeb60911be63bdad20b92fa69d,delivered,2018-02-14 17:48:01,2018-03-05 12:37:26,2018-03-13 00:00:00,-36.605374,-64.283946
7265202,c707dd313093317154517ee4bdafdbfe,39625643b498b08ebf941f9170277974,98780,santa rosa,c4c6f4e48fd572d4d909012e522ab9c1,delivered,2018-08-07 19:18:52,2018-08-15 19:03:46,2018-08-21 00:00:00,-36.605374,-64.283946
9226964,af4cda2d3ad3e63a2e7eb0d75379f1d8,8ad15fb1cf056731335e36eb723c0eac,98780,santa rosa,a63144d37a00c28ef382668a5d5ece8b,delivered,2018-02-08 13:55:48,2018-02-21 14:35:19,2018-03-16 00:00:00,-36.605374,-64.283946
11217911,620a6ed652d20f54b917209d9626fd69,f46ebdbd5c48c0683980a759b8937912,98780,santa rosa,5525404ad9f5043e1164e6833b2c24ca,delivered,2018-02-20 16:06:00,2018-03-09 13:58:28,2018-03-16 00:00:00,-36.605374,-64.283946
11266246,b7a09c321b57fbcccf7b5fe38c5bd8f0,f46ebdbd5c48c0683980a759b8937912,98780,santa rosa,49d3db2a02106c24d6ef800bd8ad5546,delivered,2018-02-20 16:05:55,2018-03-06 21:33:56,2018-03-16 00:00:00,-36.605374,-64.283946
12497587,529de59b3db538f52b46f5c3d0cf1877,ed8bf8f73a4c6a4d1e8b519c03c1c17b,98780,santa rosa,1343e1f31a0f108d5102319b6624021b,delivered,2018-01-25 15:11:11,2018-02-20 16:58:13,2018-03-07 00:00:00,-36.605374,-64.283946

### Drop the location that is not in Brazil:

In [22]:
m = m.drop(m[m.zipcode == 68275].index)
m = m.drop(m[m.zipcode == 83252].index)
m = m.drop(m[m.zipcode == 83810].index)
m = m.drop(m[m.zipcode == 28155].index)
m = m.drop(m.loc[(m['zipcode'] == 98780)].index)

print(m.shape)
m.head()

(96194, 11)

,customer_id,customer_unique_id,zipcode,customer_city,order_id,order_status,timestamp,delivered_date,estimated_date,latitude,longitude
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-25 10:35:35,2017-06-05 00:00:00,-20.509897,-47.397866
147,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-29 12:41:19,2018-02-06 00:00:00,-23.726853,-46.545746
325,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-06-14 17:58:51,2018-06-13 00:00:00,-23.527788,-46.660310
428,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-28 16:04:25,2018-04-10 00:00:00,-23.496930,-46.185352
561,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-08-09 20:55:48,2018-08-15 00:00:00,-22.987222,-47.151073

In [23]:
m.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96194 entries, 0 to 15083599
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         96194 non-null  object
 1   customer_unique_id  96194 non-null  object
 2   zipcode             96194 non-null  int64
 3   customer_city       96194 non-null  object
 4   order_id            96194 non-null  object
 5   order_status        96194 non-null  object
 6   timestamp           96194 non-null  object
 7   delivered_date      96194 non-null  object
 8   estimated_date      96194 non-null  object
 9   latitude            96194 non-null  float64
 10  longitude           96194 non-null  float64
dtypes: float64(2), int64(1), object(8)
memory usage: 8.8+ MB

In [24]:
item.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [25]:
item = item.drop('shipping_limit_date', 1)

In [26]:
i = m.merge(item, on='order_id', how='left')
i.shape

(109890, 16)

In [27]:
m_table = i.drop_duplicates(subset=['customer_id'])
m_table.shape

(96194, 16)

In [28]:
m_table.head()

,customer_id,customer_unique_id,zipcode,customer_city,order_id,order_status,timestamp,delivered_date,estimated_date,latitude,longitude,order_item_id,product_id,seller_id,price,freight_value
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-25 10:35:35,2017-06-05 00:00:00,-20.509897,-47.397866,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,124.99,21.88
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-29 12:41:19,2018-02-06 00:00:00,-23.726853,-46.545746,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,289.00,46.48
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-06-14 17:58:51,2018-06-13 00:00:00,-23.527788,-46.660310,1,bd07b66896d6f1494f5b86251848ced7,7c67e1448b00f6e969d365cea6b010ab,139.94,17.79
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-28 16:04:25,2018-04-10 00:00:00,-23.496930,-46.185352,1,a5647c44af977b148e0a3a4751a09e2e,7c67e1448b00f6e969d365cea6b010ab,149.94,23.36
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-08-09 20:55:48,2018-08-15 00:00:00,-22.987222,-47.151073,1,9391a573abe00141c56e38d84d7d5b3b,4a3ca9315b744ce9f8e9374361493884,230.00,22.25

In [29]:
pd.options.mode.chained_assignment = None
total_order_item_value = m_table.loc[:,'price'] * m_table.loc[:,'order_item_id']
total_freight_value = m_table.loc[:,'freight_value'] * m_table.loc[:,'order_item_id']

m_table.loc[:,'total_value'] = total_order_item_value + total_freight_value
m_table.head()

,customer_id,customer_unique_id,zipcode,customer_city,order_id,order_status,timestamp,delivered_date,estimated_date,latitude,longitude,order_item_id,product_id,seller_id,price,freight_value,total_value
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-25 10:35:35,2017-06-05 00:00:00,-20.509897,-47.397866,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,124.99,21.88,146.87
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-29 12:41:19,2018-02-06 00:00:00,-23.726853,-46.545746,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,289.00,46.48,335.48
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-06-14 17:58:51,2018-06-13 00:00:00,-23.527788,-46.660310,1,bd07b66896d6f1494f5b86251848ced7,7c67e1448b00f6e969d365cea6b010ab,139.94,17.79,157.73
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-28 16:04:25,2018-04-10 00:00:00,-23.496930,-46.185352,1,a5647c44af977b148e0a3a4751a09e2e,7c67e1448b00f6e969d365cea6b010ab,149.94,23.36,173.30
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-08-09 20:55:48,2018-08-15 00:00:00,-22.987222,-47.151073,1,9391a573abe00141c56e38d84d7d5b3b,4a3ca9315b744ce9f8e9374361493884,230.00,22.25,252.25

In [30]:
m_table.shape

(96194, 17)

In [31]:
m_table

,customer_id,customer_unique_id,zipcode,customer_city,order_id,order_status,timestamp,delivered_date,estimated_date,latitude,longitude,order_item_id,product_id,seller_id,price,freight_value,total_value
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-25 10:35:35,2017-06-05 00:00:00,-20.509897,-47.397866,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,124.99,21.88,146.87
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-29 12:41:19,2018-02-06 00:00:00,-23.726853,-46.545746,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,289.00,46.48,335.48
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-06-14 17:58:51,2018-06-13 00:00:00,-23.527788,-46.660310,1,bd07b66896d6f1494f5b86251848ced7,7c67e1448b00f6e969d365cea6b010ab,139.94,17.79,157.73
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-28 16:04:25,2018-04-10 00:00:00,-23.496930,-46.185352,1,a5647c44af977b148e0a3a4751a09e2e,7c67e1448b00f6e969d365cea6b010ab,149.94,23.36,173.30
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-08-09 20:55:48,2018-08-15 00:00:00,-22.987222,-47.151073,1,9391a573abe00141c56e38d84d7d5b3b,4a3ca9315b744ce9f8e9374361493884,230.00,22.25,252.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109885,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,6760e20addcf0121e9d58f2f1ff14298,delivered,2018-04-07 15:48:17,2018-04-13 20:06:37,2018-04-25 00:00:00,-23.587901,-46.501830,1,ccb4503d9d43d245d3b295d0544f988b,527801b552d0077ffd170872eb49683b,74.90,13.88,88.78
109886,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,9ec0c8947d973db4f4e8dcf1fbfa8f1b,delivered,2018-04-04 08:20:22,2018-04-11 18:54:45,2018-04-20 00:00:00,-23.612294,-46.765787,1,9ede6b0570a75a4b9de4f383329f99ee,3fd1e727ba94cfe122d165e176ce7967,114.90,14.16,129.06
109887,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,fed4434add09a6f332ea398efd656a5c,delivered,2018-04-08 20:11:50,2018-05-09 19:03:15,2018-05-02 00:00:00,-3.744128,-38.510859,1,7a5d2e1e131a860ae7d18f6fffa9d689,d9e7e7778b32987280a6f2cb9a39c57d,37.00,19.04,56.04
109888,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,e31ec91cea1ecf97797787471f98a8c2,delivered,2017-11-03 21:08:33,2017-11-16 19:58:39,2017-12-05 00:00:00,-29.956391,-51.167614,1,f819f0c84a64f02d3a5606ca95edd272,4869f7a5dfa277a7dca6462dcf3b52b2,689.00,22.07,711.07
109889,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-26 18:42:36,2018-01-08 00:00:00,-23.593985,-46.910591,1,017692475c1c954ff597feda05131d73,3c7c4a49ec3c6550809089c6a2ca9370,13.99,7.78,21.77

In [33]:
m_table.to_csv("location_modified.csv")